
.radioBtnGroupe{
  border-radius: 3px;
  border: 1px solid #F15A24;
}
.radioBtnGroupe  .radioBtn.btn-primary{
  border-radius: 3px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 120px;
  border: 1px solid #F15A24;
  background-color: transparent;
  color: #F15A24;
}
.radioBtnGroupe .radioBtn.btn-primary:hover,
.radioBtnGroupe .radioBtn.btn-primary:not(:disabled):not(.disabled).active,
.radioBtnGroupe .radioBtn.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #F15A24;
  color: white;
  border-color: #F15A24;
}
